.jumbotron {
  height: 350px;
}

#grayBlock {
  position: absolute;
  width: 1440px;
  height: 750px;
  left: 0px;
  top: 0px;
  background: rgb(250, 0, 255);
  background: linear-gradient(
    159deg,
    rgba(250, 0, 255, 1) 0%,
    rgba(126, 205, 237, 1) 50%,
    rgba(235, 214, 24, 1) 100%
  );
}
