body {
  overflow-x: hidden;
  width: 100%;
  background: linear-gradient(
      347.86deg,
      #ebd618 1.83%,
      rgba(255, 255, 255, 0) 32.4%
    ),
    linear-gradient(145.71deg, #fa00ff 4.14%, rgba(255, 255, 255, 0) 39.46%),
    #7ecded;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#toplogo {
  height: 150px;
  margin-top: none;
}
h1 {
  text-align: center;
  font-weight: 100px;
  margin-top: 50px;
}
#greeting {
  /* What’s the Mood for Today? */
  height: 325px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.5em;
  line-height: 1.5em;
  /* display: flex;
  align-items: center;
  text-align: center;
 */
  background-color: #3b3b3b;
  color: #ffffff;
}
input {
  height: 50px;
  width: 300px;
  margin-top: 105px;
}
button {
  margin-top: 80px;
  width: 100px;
}
#welcomeText {
  font-size: 2.85em;
  line-height: 1.5em;
  margin-top: 15px;
}

#firstfooter {
  /* background-color: transparent; */
  color: #ffffff;
  text-align: center;
  font-size: 0.5em;
  margin-top: 97px;
}

#grayblock {
  height: 70px;
  background-color: #3b3b3b;
  margin-top: -275px;
}
/* #links {
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  display: inline;
} */

#logotype {
  height: 70px;
  margin-top: 1px;
  margin-left: 35px;
}

footer {
  background-color: #3b3b3b;
  color: #ffffff;
  text-align: center;
  font-size: 0.5em;
  margin-top: 657px;
  padding-top: 5px;
  padding-bottom: 5px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-bottom: 0px;
}

#weather {
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  margin-top: 255px;
  text-align: center;
  font-size: 25px;
  margin-bottom: 30px;
}

.poemPrinter {
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  line-height: 1.5em;
}
#poem {
  margin-bottom: 3%;
}
input {
  -moz-border-radius: 15px;
  border-radius: 15px;
  border: solid 1px white;
  padding: 5px;
}
