body {
  background: linear-gradient(
      347.86deg,
      #ebd618 1.83%,
      rgba(255, 255, 255, 0) 32.4%
    ),
    linear-gradient(145.71deg, #fa00ff 4.14%, rgba(255, 255, 255, 0) 39.46%),
    #7ecded;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#toplogo {
  height: 150px;
  margin-top: none;
}
h1 {
  text-align: center;
  font-weight: 100px;
  margin-top: 50px;
}
#greeting {
  /* What’s the Mood for Today? */
  height: 325px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.5em;
  line-height: 1.5em;
  /* display: flex;
  align-items: center;
  text-align: center;
 */
  background-color: #3b3b3b;
  color: #ffffff;
}
input {
  height: 50px;
  width: 300px;
  margin-top: 105px;
}
button {
  margin-top: 80px;
  width: 100px;
}
#welcomeText {
  font-size: 2.85em;
  line-height: 1.5em;
  margin-top: 15px;
}

#logotype {
  height: 70px;
  margin-top: -500px;
  margin-left: 35px;
}
